/* .App {
  text-align: center;
} */
.practise{
  display: flex;
  /* grid-template-areas: 
  "side full full full full full full full" 
  "side full full full full full full full" */
 
  ;
}
.sidebar{
  /* grid-area: side; */
  background-color: blueviolet !important;
  width: 20%;
  height: 100vh;
}
.fullbar{
  /* grid-area: full; */
  background-color: whitesmoke;
  width: 80%;
}
.try{
  width: 20%;
}