/* .App {
  text-align: center;
} */
.fullScreen{
  display: flex;
}
.fullbar{
  background-color: whitesmoke;
  width: 80%;
}
.sidebar{
  background-color: rgb(46, 162, 208) !important;
  width: 20%;
  height: 100vh;
  color: white;
}
.sbadmin{
  text-align: center;
  font-size:x-large;
  /* margin: 1rem 0 1rem 1.5rem; */
}
.sideElement{
  color: rgb(224, 217, 217);
  background-color:rgb(46, 162, 208) !important;
  
  font-size: large !important;
}
.sideElement:hover{
  color: white
}
.sidegrey{
  color: rgb(184, 182, 182);
  font-size: small;
}
.AccordionWhite{
  background-color: white;
  color: black !important;
}
.AccordionWhite:hover{
  background-color: rgb(137, 129, 129);
}
.dummy:hover{
  background-color: white !important;
}
.iconsOut{
  margin-left: 1rem;
  margin-top: 1rem;
  color: aliceblue;
  /* background-color: aliceblue; */
}

         /* Imvalid-Url */
.invalid{
  text-align: center;
  margin-top: 15rem;
  background-image: linear-gradient(coral,whitesmoke);
}
#invalid-home{
  background-color: coral;
  color: black;
  border-radius: 5rem;
  font-size: larger;
  width:7rem;
  padding: 0.5rem;
}




@media screen and (max-width:600px){
  .fiveElement {
     display: none;
  }
  }