/* .App {
  text-align: center;
} */
/* .fullScreen{
  display: flex;
}
.fullbar{
  background-color: whitesmoke;
  width: 85%;
} */
.fullScreen{
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  /* gap: 1rem */
}
.sideScreen{
  width: 20%;
  /* border: 2px solid red; */
}
.mainScreens{
  width: 80%;
  /* border: 2px solid blue; */
}
.sidebar{
  background-color: rgb(46, 162, 208) !important;
  /* width: 15%; */
  height: 100vh;
  color: white;
  /* display: inline-block !important; */
}
.sbadmin{
  text-align: center;
  font-size:x-large;
  /* margin: 1rem 0 1rem 1.5rem; */
}
.sideElement{
  color: rgb(224, 217, 217);
  background-color:rgb(46, 162, 208) !important;
  font-size: large !important;
}
.sideElement:hover{
  color: white !important
}
.fiveElement{
  font-size: x-large !important;
}
.fiveElement:hover{
  color: white !important;;
}

.dashboard{
  font-size: larger;
}
.dashboard:hover{
  background-color: #e74a3b;
  color: black;
}
.sidegrey{
  color: rgb(184, 182, 182);
  font-size: small;
}
.AccordionWhite{
  background-color: white;
  color: black !important;
}
.AccordionWhite:hover{
  background-color: rgb(137, 129, 129);
}
.dummy:hover{
  background-color: white !important;
}
.iconsOut{
  margin-left: 1rem;
  margin-top: 1rem;
  color: aliceblue;
}

@media screen and (max-width:800px){
  .fiveElement, .dbinputBox{
     display: none;
  }
  .dbsearchBox{
    flex-basis: 25%;
    justify-content: flex-start;
    padding: 1rem ;
    margin-left: 2rem;
  }
  .dbbuttonbox{
    background-color: rgb(127, 127, 170);
    height: 2.5rem;
  }
  .dbnotificatonBox{
    flex-basis: 75%;
    border: 2px solid aqua;
  }
  
  .dbicons{
    padding: 0.1rem;
  }
  }

         /* Imvalid-Url */
.invalid{
  /* width: 100%vw; */
  height: 100vh;
  text-align: center;
  /* margin-top: 15rem; */
  background-image: linear-gradient(coral,whitesmoke);
}
#invalid-home{
  background-color: white;
  color: black;
  border-radius: 5rem;
  font-size: larger;
  width:7rem;
  padding: 0.5rem;
}

         /* Dashboard */
.dashBoardContainer{
  background: radial-gradient(rgb(247, 236, 236),whitesmoke);
}
.dbWhiteBox{
  display: flex;
  background-color: white
}
.dbheadingandtaxbox{
  padding: 2rem;
}
.dbsearchBox{
  flex-basis: 50%;
  justify-content: flex-start;
  padding: 1rem ;
  margin-left: 2rem;
}
.dbinputBox{
  width: 7rem !important;
  height: 2rem;

}
.dbbuttonbox{
  background-color: rgb(127, 127, 170);
  height: 2.5rem;
}
.dbnotificatonBox{
  flex-basis: 50%;
  text-align: end;
}
.dbicons{
  padding: 1rem;
}

.dbheadingbox{
  display: flex;
  font-size: x-large;
  margin-bottom: 3rem;
}
.db1stheading{
    flex-basis: 50%;
}
.db2rdbutton{
  flex-basis: 50%;
  text-align: end;
}
.dbgeneratebutton{
   background-color: blueviolet;
   font-size: large;
   padding : 0.5rem;
}
.dbincomeTaxbox{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(13rem,1fr));
     gap: 2rem;
     margin-bottom: 3rem;
     /* ; */
}
.dbincomeTaxbox1{
  display: flex;
  /* border: 2px solid greenyellow; */
  padding: 1rem;
  background-color: white;
  border-left:5px solid blue;
}
.dbincomeTaxbox2{
  display: flex;
  /* border: 2px solid greenyellow; */
  padding: 1rem;
  background-color: white;
  border-left:5px solid greenyellow;
}
.dbincomeTaxbox3{
  display: flex;
  /* border: 2px solid greenyellow; */
  padding: 1rem;
  background-color: white;
  border-left:5px solid pink;
}
.dbincomeTaxbox4{
  display: flex;
  padding: 1rem;
  border-left:5px solid orangered;
  background-color: white;
}
.dbincometxbox80{
  flex-basis: 80%;
}
.dbincometxbox20{
  flex-basis: 20%;
  text-align: center;
  margin-top: 0.7rem;
}
.dbearningM{
    color: blue; 
   
}
.dbrupees{
  font-weight: bold;
}
.dbearningA{
  color: greenyellow;
}
.dbtasks{
   color: pink;
}
.dbpendingreq{
  color: orangered;
}
.container {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: pink;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  width: 50%;
  color : rgb(132, 115, 115)
}
.dbprojectsbox{
  background-color: white;
  /* width: 60%; */
  min-width: 400px;
}
.dbtitle{
  padding: 1rem;
  font-size: larger;
  background-color: whitesmoke;
  color: blue
}

.dbheadingandpercent{
  display: flex;
}
.dbheading{
  flex-basis: 90%;
}
.dbsubContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: white;
  gap: 2rem;
  }
.dbpercent{
  flex-basis: 10%;
  text-align: end;
}
.dbprogressbarwhole{
  width: 100%;
  border-radius: 5rem;
  background-color: rgb(213, 202, 202);
}
.dbprogressbar1{
  width: 20%;
  background-color: red;
  color : red;
  border-bottom-right-radius: 5rem;
}
.dbprogressbar2{
  width: 40%;
  background-color: yellowgreen;
  color : yellowgreen;
  border-bottom-right-radius: 5rem;
}
.dbprogressbar3{
  width: 60%;
  background-color: blue;
  color : blue;
  border-bottom-right-radius: 5rem;
}
.dbprogressbar4{
  width: 80%;
  background-color: violet;
  color : violet;
  border-bottom-right-radius: 5rem;
}
.dbprogressbar5{
  width: 100%;
  background-color: green;
  color : green;
  border-bottom-right-radius: 5rem;
}
.dbillustrationsbox{
  background-color: white;
  border: 2px solid whitesmoke;
  width: 500px;
}
.dbimage{
   width: 350px;
   height: max-content;
   margin: auto;
 
}
.dpimageimg{
  height: 100%;
  width: 100%;
}
.dbilluslink:hover{
  font-size: larger;
  color: rgb(2, 2, 255);
}
.dbcolorcolorbox{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.dbcolorbox{
  padding: 2rem;
  width: 9rem;
  height: 3rem;
  border: 2px solid salmon;
}
.dbcolorbox1{
  background-color:#4e73df ;
}
.dbcolorbox2{
  background-color: #1cc88a ;
}
.dbcolorbox3{
  background-color:#36b9cc ;
}
.dbcolorbox4{
  background-color:#f6c23e ;
}
.dbcolorbox5{
  background-color: #e74a3b;
}
.dbcolorbox6{
  background-color: #858796
  ;
}
.dbcolorbox7{
  background-color: #f8f9fc;
}
.dbcolorbox8{
  background-color: #5a5c69;
}
.dbdevelopmentbox{
  width: 400px;
}

             /* button page */
.buttonpage{
  background-color: #1cc88a;
  height: 100vh; 
}
           /* animationpage */
.animationpage{
   background-color: #36b9cc;
   height : 100vh;
}           
          /* BlankPage */
.BlankPage{
  background-color:#4e73df;
  height : 100vh;
}
      /* Borders */
.Borders{
  background-color:#e74a3b; 
  height : 100vh;
}
 
.Cardspage{
  background-color:#f6c23e;
  height : 100vh;
}
       /* Chartspage */
.Chartspage{
  background-color:aqua;
  height : 100vh;
}
.Colors{
  background-color:crimson;
  height : 100vh;
}
.ErrorPage{
  background-color:chocolate;
  height : 100vh;
}
.ForgotPassword{
  background-color:darkorchid;
  height : 100vh;
}
.Login{
  background-color:fuchsia;
  height : 100vh;
}

.Others{
  background-color:gray;
  height : 100vh;
}
